---
layout: default
---

<form action="//formspree.io/henriquemacosi@gmail.com"
      method="POST">
      <label>Your Name</label>
    <input type="text" name="name">
    <label>Your E-mail</label>
    <input type="email" name="_replyto">
    <label>Your Message</label>
    <textarea name="message" rows="10"></textarea>
    <input type="text" name="_gotcha" style="display:none" /
    <input type="hidden" name="_next" value="{{ '/contact/' | prepend: site.baseurl }}">
    <input type="submit" value="Send">
</form>